/** Shopify CDN: Minification failed

Line 1504:2 Unexpected "{"

**/
button.QT4by.rqC98.hodFu.VDIfJ.j6D1f.janiy {
  background: #25335c !important;
  color: #fff !important;
}
.rqC98 {
  background: #25335c !important;
}
.zrx-sticky-atc-main-button {
  background: #25335c !important;
  color: #fff !important;
}
#shopify-section-9542b197-beb8-4eb4-b417-a76a8547698c .btn {
  padding: 20px 88px;
  background: #25335c !important;
  color: #fff !important;
}
.header-item.header-item--logo.mobile-logo {
  display: none;
}

#shopify-section-review-section {
  text-align: center;
  padding: 30px 0;
}
.image-text .col-md-6 {
  width: 50%;
}
.text-content {
  padding: 30px;
  max-width: 500px;
}

.image-text .row:nth-child(even) {
  flex-direction: row-reverse;
}
.image-text .row:nth-child(even) .text-content {
  padding-left: 0;
  margin-left: 0;
}
.text-content p {
  font-size: 19px;
}

.image-text .row {
  padding: 30px 0;
}

.free-shipping {
  background: #000;
  color: #fff;
  padding: 50px 0;
  margin: 0px !important;
}
.template-product section.image-box a {
  display: none;
}
.product-single__description.rte {
  margin: 0;
}

.detail-collapse {
  margin-bottom: 0 !important;
  border-bottom: 0;
}
.product-video {
  background: #f0f0f0;
  text-align: center;
  text-transform: uppercase;
  padding: 40px 20px;
}
.multivariants_setbox_header {
  display: none;
}
.top-bar img:nth-child(3) {
  width: 37px;
}
h3#igr-title {
  font-size: 1.47059em;
  color: #535353;
  text-transform: uppercase;
}
.rte #instagrid-feed-container a {
  display: none !important;
}
img.dekstop {
  width: 100%;
  margin-bottom: 50px;
}

img.mobile {
  width: 100%;
  display: none;
  margin-bottom: 50px;
}
[name="GET MORE & SAVE"] label:after {
  border-radius: 0 !important;
}

.sale-percentage {
  padding: 10px 20px;
  background: #ea3323;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 10px;
}
.content ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0 0 30px;
  flex-wrap: wrap;
}

.content ul li {
  width: 50%;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 14px;
}

.top-bar span {
  margin-right: 10px;
}
.cart-box h3 {
  color: #25335c;
  margin-top: 15px;
}
.cart-box {
  text-align: center;
  margin-top: -12px;
}
.cart-box a {
  background: #25335c;
  padding: 10px 29px;
  display: inline-block;
  color: #fff !important;
}

.cart-box p {
  margin-top: 10px;
}
.banner .content {
  min-height: 600px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
}
.top-bar {
  background: #d3ea80;
  padding: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-bar p {
  margin: 0;
  display: flex;
  align-items: center;
}

.top-bar img {
  width: 128px;
  margin: 0 8px;
}
.banner ul {
  display: flex;
  justify-content: center;
  list-style: none;
  background: #25325c;
  max-width: 636px;
  margin: 0 auto;
  color: #fff;
  padding: 10px;
  border-radius: 27px;
  margin-bottom: 50px;
}

.banner ul li {
  margin: 0 10px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.banner ul li img {
  width: 17px;
  margin-right: 10px;
}
.cta-section {
  padding: 50px 0;
  text-align: center;
  max-width: 670px;
  margin: 0 auto;
}

.cta-section a.btn.text-link {
  background: #d3ea80 !important;
  padding: 20px 88px;
  color: #000;
}
.cta-section .btn:not(.btn--no-animate):not(.btn--tertiary):hover {
  padding-right: 100px;
}
.item {
  text-align: center;
}

.item img {
  width: 350px !important;
  margin: 0 auto 10px;
}

.review-content {
  font-size: 21px;
  font-weight: 500;
}

.owl-theme .owl-dots .owl-dot span {
  background: #9ca1b3 !important;
}

.owl-theme .owl-dots .owl-dot.active span {
  background: #25325c !important;
}
.image-box-item {
  display: flex;
  border: 1px solid #c0c0c0;
  align-items: center;
  border-radius: 15px;
  margin: 0 15px;
  padding: 0 15px;
  position: relative;
}

.row {
  display: flex;
  align-items: center;
}

.image-box-item img {
  max-width: 100%;
  width: 160px;
  height: 172px;
  border-radius: 15px;
  object-fit: cover;
}

.box-content p {
  margin: 0;
  font-size: 14px;
}

.box-content h3 {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 17px;
}

.col-md-4 {
  width: 33.33%;
}

.image-box-item:before {
  content: "";
  width: 30px;
  height: 1px;
  background: silver;
  position: absolute;
  right: -31px;
}

.col-md-4:last-child div:before {
  display: none;
}
section.image-box h2 {
  text-align: center;
}

.image-box {
  padding: 50px 0;
}
section.image-box a {
  background: #25335c;
  padding: 20px 88px;
  display: block;
  color: #fff;
  margin: 60px auto 0;
  width: max-content;
  font-weight: 600;
  font-family: "ITC Avant Garde Gothic";
  font-size: 16px;
}

.add-to-cart {
  background: #f0f0f0 !important;
  color: #000 !important;
}

.get-back {
  background: #535353;
  text-align: center;
  padding: 70px 0 50px;
}

.get-back h3 {
  color: #fff;
}

.get-back p {
  color: #fff;
}

.get-back img {
  width: 74px;
  margin-bottom: 15px;
  height: 80px;
  object-fit: contain;
}

.get-back h2 {
  color: #fff;
  margin-bottom: 50px;
  text-transform: uppercase;
  font-size: 2em;
}
.get-back h3 {
  font-size: 1.2em;
  margin: 0 -20px 15px;
}
.get-back .col-md-4 {
  padding: 0 38px;
}
.mobile-nav__item *,
.site-nav__link {
  text-transform: uppercase;
  font-family: "ITC Avant Garde Gothic";
}
.cta-section a.btn.first {
  background: #25335c !important;
  color: #fff !important;
}
.main-review {
  padding: 250px 0;
  text-align: center;
  background-image: url(/cdn/shop/files/bg-review.jpg);
  background-position: center;
  background-size: cover;
  margin-bottom: 50px;
}

.main-review h1 {
  font-size: 50px;
  color: #fff;
  margin: 20px 0;
}

.main-review h3 {
  font-family: "Futura";
  font-weight: 500;
  color: #fff;
  font-size: 32px;
}

.main-review span {
  font-size: 22px;
  padding: 0 10px !important;
  display: inline-block;
}
@media screen and (max-width: 767px) {
  .image-text .col-md-6 {
    width: 100%;
    text-align: center;
  }

  .text-content {
    padding: 10px;
  }

  .image-text .row {
    padding: 10px 0;
  }
  .main-review {
    padding: 90px 0;
  }
  .sale-percentage {
    padding: 10px 18px;

    font-size: 12px;
  }

  section.image-box a {
    font-size: 14px;
  }
  .second-cta a {
    margin-top: 50px !important;
  }
  .main-review h1 {
    font-size: 34px;
    max-width: 330px;
    margin: 11px auto 20px;
    line-height: 0.9;
  }
  .main-review h3 {
    font-size: 18px;
    font-weight: 300;
  }

  .main-review span {
    padding: 0 5px !important;
    font-size: 18px;
  }

  .slick-dotted.slick-slider {
    margin: 0 !important;
  }
  img.dekstop {
    display: none;
  }

  img.mobile {
    display: block;
  }
  .content ul li {
    text-align: left;
    font-size: 9px;
  }

  .product-single__meta {
    text-align: center;
  }

  .feature-row__text--left {
    padding-left: 0;
  }
  .top-bar p strong {
    display: none;
  }
  .feature-row__text--right {
    padding-right: 0;
  }
  .top-bar span {
    font-size: 11px;
    font-weight: 700;
    margin-right: 5px;
  }
  .feature-row__text {
    text-align: center;
  }
  .medium-up--one-half {
    width: 100% !important;
  }

  .cta-section .cta-side {
    margin-top: -50px !important;
  }
  .header-item.header-item--logo {
    display: none;
  }
  .drawer--right {
    max-width: 100% !important;
    width: 100% !important;
  }

  .mobile-nav__item a,
  .mobile-nav__item .mobile-nav__faux-link {
    font-weight: 600;
    padding: 8px 20px;
  }
  .drawer__title {
    display: none !important;
  }

  .drawer__close {
    text-align: right !important;
  }

  div#NavDrawer {
    margin-top: 110px;
  }

  .js-drawer-open .main-content:after {
    display: none !important;
  }
  .row {
    display: block;
  }

  .col-md-4 {
    width: 100%;
  }

  .image-box-item {
    margin: 30px 0;
  }

  .image-box-item:before {
    height: 30px;
    width: 1px;
    left: 50%;
    right: auto;
    bottom: -31px;
  }
  header select {
    display: none;
  }

  .header-item.header-item--navigation {
    display: none;
  }
  .banner .content {
    min-height: 400px;
  }

  .banner ul li {
    font-size: 10px;
    margin: 0 5px;
  }

  .banner ul li img {
    width: 12px;
    margin-right: 5px;
  }
  .top-bar img:nth-child(3) {
    width: 25px;
  }
  .top-bar {
    padding: 10px 0;
  }
  .top-bar img {
    width: 60px;
    margin: 0 6px;
  }
  img.mobile-only {
    width: 85px;
  }
  .header-item.header-item--logo.mobile-logo {
    display: inline-block;
  }
  .site-header {
    padding: 5px 0;
  }
  .cta-section {
    padding: 20px 0;
  }
  .site-nav__icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-item.header-item--icons {
    display: block !important;
  }

  .header-layout {
    display: block !important;
  }
  .free-shipping,
  .product-video {
    margin: 0 -20px !important;
  }
  .site-nav {
    display: block !important;
  }
  /* .grid__item.one-third.text-center {display: none;} */

  /* .grid__item.medium-up--two-fifths {display: none;} */

  .price-mobile {
    display: block !important;
  }

  .grid__item.one-third.text-center.mobile-quan {
    display: block !important;
    width: 40%;
    padding: 0 !important;
    text-align: left !important;
    margin-top: 11px;
  }
}

/* custom style */
.cart-box p {
  font-weight: normal !important;
}
.drawer__cart .appear-animation.appear-delay-3 {
  margin-bottom: 25px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  /*Design 1*/
  /* .grid__item.one-third.text-center.mob_center {
      text-align: start !important;
  }
    .grid__item.medium-up--two-fifths.car_col_right {
      margin-top: 20px;
  }
    .grid__item.medium-up--three-fifths.car_col_left {
      margin-top: 55px;
  } */

  /* Design 2*/

  .grid__item.medium-up--three-fifths.car_col_left
    p.cart__product-meta.mob_remove_btn {
    text-align: end;
    margin-top: 30px;
    font-size: 16px;
  }
  .grid__item.medium-up--three-fifths.car_col_left {
    margin-top: 35px;
    position: relative;
  }
  .grid__item.medium-up--two-fifths.car_col_right
    .grid.grid--full.cart__row--table {
    /*     display: grid; */
    /*     justify-content: flex-end; */
    margin-top: -70px;
    padding-left: 20px;
    font-size: 16px;
  }
  .grid__item.one-third.text-center.mob_center {
    margin-bottom: 15px;
    /*     text-align: end !important; */
    width: 100%;
  }
  .grid__item.one-third.text-center.mob_center .cart__product-qty {
    width: 100% !important;
    margin: 0;
    margin-top: 0px;
    padding: 23px 0px !important;
  }
  .cart__row--table .grid__item {
    vertical-align: top !important;
  }
  .cart__product-qty {
    max-width: 60px !important;
    margin-left: 20px !important;
  }
  .cart__price .money {
    padding-right: 0 !important;
  }
  .drawer__header {
    height: 70px !important;
  }
}
@media only screen and (max-width: 600px) {
  .product-single__meta p {
    font-size: 15px !important;
  }
  .product-section hr:nth-child(2) {
    display: none !important;
  }
  .shopify-payment-button__more-options {
    font-size: 19px !important;
    text-decoration: underline !important;
  }
  .js-qty__wrapper {
    margin: auto !important;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  select {
    width: 100% !important;
    max-width: 100% !important;
  }
  .zrx-sticky-atc-select-wrapper {
    max-width: 100% !important;
    min-width: 100% !important;
  }
  .zrx-sticky-atc-select-wrapper {
    max-width: 100% !important;
    width: 100% !important;
  }
  .zrx-sticky-atc-product-variants {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
@media only screen and (min-width: 590px) {
  .drawer__header {
    height: 70px !important;
  }
  .drawer__fixed-header {
    height: 70px !important;
  }
}

.drawer__close {
  text-align: right !important;
}

.product-single__meta .social-sharing {
  display: none !important;
}
input#email_60649019 {
  padding: 0 !important;
}

input#email_60649019::placeholder {
  text-align: start;
  width: 70%;
  padding: 0 !important;
  margin: 0;
}

.zrx-sticky-atc-bar.zrx-sticky-atc-bar-bottom.zrx-sticky-atc-bar.zrx-sticky-atc-show {
  bottom: 0;
  box-shadow: 0px 6px 20px 0px #888888;
}
.zrx-sticky-atc-product-img {
  width: 30px !important;
  max-width: 30px;
  border-radius: 0 !important;
  border: 0 !important;
}
span.zrx-sticky-atc-product-title {
  font-size: 16px;
  font-weight: 700;
}
span.zrx-sticky-atc-product-price-wrapper {
  padding: 0;
  font-size: 16px;
  margin: 0;
  line-height: 1rem;
  font-weight: 700;
}
.zrx-sticky-atc-compare-price {
  color: #ff0000;
  font-size: 16px !important;
}
span.zrx-sticky-atc-product-price-wrapper {
  font-size: 16px !important;
}
.zrx-sticky-atc-product-qty-seperator {
  height: 1.4rem !important;
}
.zrx-sticky-atc-product-qty-modifier {
  height: 35px;
  border-radius: 0 !important;
  border: solid 1px #e8e8e1;
}
.zrx-sticky-atc-product-qty-minus,
.zrx-sticky-atc-product-qty-plus {
  min-width: 1.5rem;
  height: 128% !important;
  align-items: normal;
}
.zrx-sticky-atc-product-qty-seperator {
  width: 1px;
  background: #e8e8e1 !important;
}
.zrx-sticky-atc-select-label {
  display: none !important;
}
.zrx-sticky-atc-select {
  border: none !important;
  padding: 8px 0.5rem 0.5rem !important;
}
.zrx-sticky-atc-product-qty-modifier {
  margin-right: 0.6rem !important;
}
button.zrx-sticky-atc-main-button {
  border-radius: 5px;
}
.zrx-sticky-atc-select-wrapper {
  max-width: 6rem !important;
  min-width: 6rem !important;
  border: solid 1px #e8e8e1;
  padding: 0 !important;
}
.zrx-sticky-atc-select-wrapper:focus {
  outline: none !important;
  box-shadow: none !important;
}
.zrx-sticky-atc-select-wrapper:focus-visible {
  outline: none !important;
  box-shadow: none !important;
  border: transparent !important;
}

/* =======================
   Custom css by Jivan
  ======================= */
/*  */
/* GENERAL STYLE */
.font-ghd {
  font-family: "GoldenHillsDEMO", sans-serif;
}

.font-ls_b {
  font-family: "LeagueSpartan-Bold";
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: #000;
}

.template-product body,
.template-product input,
.template-product textarea,
.template-product button,
.template-product select,
.template-product p {
  font-family: "ITC Avant Garde Gothic";
}

.template-product h1,
.template-product .h1 {
  /*   font-size: 2.5em; */
}

.template-product h2,
.template-product .h2 {
  font-size: 2.0125em;
  letter-spacing: normal;
  line-height: 1.18em;
}

.template-product h3,
.template-product .h3 {
  font-size: 1.875em;
  letter-spacing: normal;
  line-height: 1.25em;
  font-weight: 500;
}

/* PRODUCT PAGE HERO BANNER */
.product--banner .background-media-text,
.product--banner .background-media-text__inner {
  position: relative;
}

.product--banner-text {
  margin: 20px 0;
  color: #000;
}

.product--banner .title-wrapper {
  display: flex;
  flex-direction: column;
  width: max-content;
}

.product--banner .subtitle {
  font-size: 1.125em;
  text-align: center;
  position: relative;
  bottom: -20px;
}

.product--banner .super--title {
  font-size: 4.5em;
  letter-spacing: normal;
  line-height: normal;
}

.product--banner-text .box-content {
  display: flex;
  align-items: baseline;
  column-gap: 10px;
}

.product--banner .content-wrapper {
  margin-left: 45px;
}

.product--banner .content-wrapper .row {
  margin-bottom: 20px;
}

.text__subtext p {
  font-size: 1.125em;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -1px;
  margin-bottom: 10px !important;
}

.product--banner .box-content .text__super-title {
  font-family: "LeagueSpartan-Bold";
  font-size: 4.025em;
  line-height: 1;
  margin-bottom: 0;
}

.product--banner .box-content .text__subtext {
  font-family: "LeagueSpartan-Bold";
  font-size: 1.2em;
  line-height: 1;
}

/* PRODUCT IMAGE & DETAILS SECTION */
.product__thumbs.product__thumbs--below {
  padding: 0 30px;
}

.slick-prev {
  left: 0;
  z-index: 19;
}

.slick-next {
  right: 0;
  z-index: 19;
}

.slick-prev:before,
.slick-next:before {
  color: black;
  font-size: 40px;
  line-height: 50px;
  text-shadow: none;
  opacity: 1;
}

.product__price-wrap {
  margin-top: 10px;
}

.product__price--compare {
  font-size: 18px;
  color: #969595;
}

.product__price.on-sale {
  font-weight: bold;
  color: #bd0707;
}

.product--meta {
  font-family: "ITC Avant Garde Gothic", sans-serif;
  font-size: 1.75em;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.56px;
  margin-top: 10px;
}

ul.highlights {
  margin: 30px 0px 10px;
}

ul.highlights li {
  width: 50%;
  display: flex;
  align-items: center;
  column-gap: 15px;
}

ul.highlights li img {
  width: 40px;
}

label.variant__label {
  text-transform: inherit;
  letter-spacing: 0.5px;
  font-size: 1em;
}

.variant__color-swatch {
  padding: 60px 30px 0px !important;
}

.variant__label-info {
  font-family: inherit;
}

.shipping-details {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-bottom: 30px;
  color: #000;
  font-family: "ITC Avant Garde Gothic", sans-serif;
}

.shipping-title {
  font-size: 24px;
  font-weight: 600;
}

.shipping-text {
}

.product-single__form {
  margin-bottom: 0;
}

.product-single__description-full img,
.product-single__description-full .video-wrapper {
  display: none !important;
}

.video-section {
  margin: 60px auto 0;
  text-align: center;
}

.custom-photo-banner .grid__item {
  position: relative;
}

.custom-photo-banner .super--title {
  color: #000000;
  font-size: 96px;
  font-weight: 700;
  line-height: 98px;
  letter-spacing: -4.8px;
}

/* IMAGE HOTSPOT */

@keyframes pulsate-animation {
  0% {
    transform: scale(1);
    opacity: 0.8;
  }

  45% {
    transform: scale(1.75);
    opacity: 0;
    border-width: 10;
  }
}

.content-right {
  right: 0;
}

.image-hotspot {
  position: relative;
}

.hotspot--text-content {
  padding-top: 30px;
}

.content--text-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  color: #000;
}

.content-row {
  display: flex;
  flex-direction: column;
}

.content-row .content-title {
  font-size: 3.75em;
  font-family: "LeagueSpartan-Bold";
  letter-spacing: -3px;
  line-height: normal;
}

.content-row .content-text {
  font-weight: 600;
  font-family: "ITC Avant Garde Gothic";
}
.carrying-case {
  position: absolute;
  bottom: 21%;
  right: 13%;
  font-weight: 600;
  font-family: ITC Avant Garde Gothic;
  max-width: 150px;
  color: #000;
  line-height: 1;
}
.image-hotspot img {
  width: 100%;
  height: 100%;
  display: block;
}

.hotspot-item {
  width: 30px;
  height: 30px;
  position: absolute;
}
.hotspot-item:hover {
  z-index: 4;
}
.hotspot-item1 {
  top: 38%;
  left: 54%;
  transform: translate(-25%, -45%);
}

.hotspot-item2 {
  top: 57%;
  left: 51%;
  transform: translate(-5%, -25%);
}

.hotspot-item3 {
  top: 73%;
  left: 42%;
  transform: translate(-25%, -45%);
}

.hotspot-item4 {
  top: 79%;
  left: 48%;
  transform: translate(-25%, -45%);
}

.hotspot-item5 {
  top: 86%;
  left: 37%;
  transform: translate(-25%, -45%);
}

.hotspot-item6 {
  top: 90%;
  left: 58%;
  transform: translate(-25%, -45%);
}

.hotspot-marker {
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hotspot-popup {
  width: 250px;
  position: absolute;
  padding: 20px;
  transition: all 0.3s linear;
  opacity: 0;
  visibility: hidden;
  z-index: 2;
  background: #fff;
  text-align: center;
  font-weight: 600;
}
.hotspot-popup.on-top {
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}
.hotspot-popup.on-right {
  left: 50px;
  top: 50%;
  transform: translateY(-50%);
}
.hotspot-popup:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: currentcolor transparent transparent transparent;
}
.hotspot-popup.on-top:before {
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 10px 10px 0 10px;
}
.hotspot-popup.on-right:before {
  left: -10px;
  top: 50%;
  transform: translateY(-50%);
  border-width: 10px 10px 10px 0;
  border-color: transparent currentcolor transparent transparent;
}
.hotspot-icon {
  height: 100%;
}

.hotspot-icon span {
  position: absolute;
  border: 2px solid #05537a;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-radius: 50%;
  background: #05537a;
  transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
  z-index: 3;
}

.hotspot-icon span:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  opacity: 0;
  transform-origin: 50% 50%;
  -webkit-animation: pulsate-animation 3s ease-out infinite;
  animation: pulsate-animation 3s ease-out infinite;

  width: 40px;
  height: 40px;
  border: 2px solid #05537a;
  margin: -20px auto auto -20px;
}

.hotspot-item:hover .hotspot-popup {
  opacity: 1;
  visibility: visible;
}

.hotspot-icon span::before {
  content: "";
  display: block;
  position: absolute;
  width: 15px;
  height: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 100%;

  transition: width, height;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.dot:focus::before {
  width: 1.5em;
  height: 1.5em;
}

/* FEATURE & TECH-SPEC SECTION */
.features--tech-specs h2 {
  margin-bottom: 40px;
}
.features--tech-specs .grid__item + .grid__item {
  margin-top: 30px;
}

.custom_trow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.custom_td {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  padding: 10px 30px;
  align-items: flex-start;
  font-size: 16px;
}

.custom_td span {
  display: flex;
  align-items: center;
}

.custom_td span img {
  margin-right: 15px;
}

.grid__item .custom_trow:not(:last-child) {
  border-bottom: 1px solid #e1e1e1;
}

.custom_trow .custom_td:first-child {
  border-right: 1px solid #e1e1e1;
}

@media only screen and (min-width: 590px) {
  .product--banner-text {
    margin-left: 160px;
  }

  .product-single__title {
    font-size: 2.5em;
  }

  .product-single__description-full.rte ul li {
    width: 50%;
    float: left;
  }

  .features--tech-specs .page-width {
    padding: 0 100px;
  }

  .custom-photo-banner .photo-text {
    position: absolute;
    top: 50%;
    left: 29%;
    width: 25%;
    transform: translateY(-50%);
  }
  .image-hotspot {
    display: block;
  }
  .hotspot--text-content {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .content-left,
  .content-right {
    width: 36%;
    position: absolute;
    top: 20%;
  }

  .text-right .content-row:nth-child(odd) {
    padding-right: 90px;
  }

  .text-left .content-row:nth-child(even) {
    padding-left: 90px;
  }

  .video-section {
    max-width: 90%;
  }
}

@media only screen and (max-width: 589px) {
  .template-product h2,
  .template-product .h2 {
    font-size: 1.0125em;
  }

  .template-product h3,
  .template-product .h3 {
    font-size: 1em;
  }

  .product--banner .background-media-text__image {
    position: absolute;
    height: auto;
  }
  .background-media-text--product-page-banner .background-media-text__image {
    background-position-x: 65% !important;
  }
  .product--banner .subtitle {
    font-size: 1em;
  }

  .product--banner .super--title {
    font-size: 2em;
  }

  .product--banner .box-content .text__super-title {
    font-size: 1.55em;
  }

  .product--banner .box-content .text__subtext {
    font-size: 0.875em;
  }

  .custom-photo-banner .photo-text {
    padding: 30px;
    background: #f2f2f2;
  }

  .custom-photo-banner img {
    float: left;
  }

  .custom-photo-banner .super--title {
    font-size: 25px;
    line-height: 1;
    letter-spacing: 0;
  }

  ul.highlights li img {
    width: 25px;
  }

  .shipping-details {
    text-align: left;
  }

  .shipping-title {
    font-size: 18px;
    font-weight: 600;
  }

  .shipping-text {
    font-size: 16px;
  }

  .shipping-details img {
    max-width: 50px;
  }

  .custom_td {
    padding: 5px;
  }

  .custom_td span img {
    margin-right: 10px;
    max-width: 20px;
  }

  .image-hotspot .content-left,
  .image-hotspot .content-right {
    width: 100%;
  }

  .content--text-wrapper {
    row-gap: 15px;
  }

  .image-hotspot .content-right {
    float: inherit;
    padding-bottom: 20px;
  }
  .carrying-case {
    bottom: 46%;
    right: 0%;
  }
  .hotspot-item {
    width: 20px;
    height: 20px;
  }

  .hotspot-icon span:before {
    width: 10px;
    height: 10px;
  }

  .hotspot-icon span:after {
    width: 30px;
    height: 30px;
    margin: -15px auto auto -15px;
  }

  .hotspot-item1 {
    top: 44%;
    left: 42%;
  }

  .hotspot-item2 {
    top: 52%;
    left: 34%;
  }

  .hotspot-item3 {
    top: 58%;
    left: 18%;
  }

  .hotspot-item4 {
    top: 61%;
    left: 32%;
  }

  .hotspot-item5 {
    top: 65%;
    left: 6%;
  }

  .hotspot-item6 {
    top: 67%;
    left: 49%;
  }

  .content-row .content-title {
    font-size: 2em;
    letter-spacing: 0px;
    line-height: normal;
  }
}
@media (min-width: 590px) and (max-width: 1520px) {
  .custom-photo-banner .super--title {
    font-size: 40px;
    line-height: 1;
    letter-spacing: 0;
  }
  .content--text-wrapper {
    row-gap: 20px;
  }
  .content-row .content-title {
    font-size: 2em;
  }
  .text-right .content-row:nth-child(odd) {
    padding-right: 45px;
  }
   {
    padding-left: 45px;
  }
}
